#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.verticalWay {
    position: relative;
    justify-content: space-between;
    width: 40%;
    height: 20%;
    margin-top: 40%;
    align-self: center;
    background-color: darkslategrey;
}

.horiway {
    position: relative;
    justify-content: space-between;
    align-self: center;
    width: 20%;
    height: 40%;
    margin-left: 40%;
    background-color: darkslategrey;
}

.crossroad {
    display: flex;
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: darkslategrey;
}